header {
display: flex;
align-items: center;
background-color: rgb(250, 1, 1);
}

img{
width: 30%;
}
    
h1{
margin-left: 500px;
font-size: 2rem;
font-family: sans-serif;
    
}

    
.carrito {
margin-left: 500px;    
width: 5%;        
}